@media screen and (max-width:1500px){
    .nav-links-container{
        display: flex;
        align-items: start;
        justify-content: center;
        position: fixed;
        background: #111111;
        left: -500px;
        top: 0;
        height: 100vh;
        width: 300px;
        box-shadow: 0 0 20px #000000;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        background: transparent;
        padding: 15px;
        padding-left: 0 ;
        border: none;
    }
    .nav-links a{
        margin: 10px 0;
        width: 100%;
        border-radius:0px 50px 50px 0px;
        transition: .2s ease all;
        border: 2px solid #ffffff10;
        border-left: 0;
    }
    .footer-col-container{
        flex-wrap: wrap;
        padding: 25px;
    }
    .sec-col{
        width: 100%;
    }
    .footer-col:nth-child(5){
        width: 350px;
    }
    .footer-credit{
        flex-direction: column;
    }
    .footer-credit-links{
        padding: 15px 0;
    }
}


@media screen and (max-width:1400px) {
    .catalog-item{
        width: 50%;
    }
    .hero-title h1{
        font-size: 42px !important;
        line-height: normal;
    }
    .services-help-title{
        font-size: 36px;
    }
    footer{
        padding: 10px;
    }
    .services-help{
        margin: 10px;
    }
}


@media screen and (max-width:1100px) {
    .services-help-col{
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }
    .services-help-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .faq-container .catalog-item{
        width: 100%;
    }
    .footer-col{
        width: 48%;
    }
}

@media screen and (max-width:800px) {
    .catalog-item{
        width: 100% !important;
    }
         .footer-col {
             width: 100%;
         }
    .footer-credit-links{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
       
    }     
}
@media screen and (max-width:650px) {
    .nav-cta-btn-sec{
        display: none;
    }
    .nav-ghost{
        height: 63px;
    }
    .hero-title h1{
        font-size: 26px !important;
        line-height: normal;
    }
    .services-help-title-alt{
        padding: 15px;
    }
    .hero-cta-buttons{
        flex-direction: column;
    }
  
    .stroke-text{
        color: #fff;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #fff;
    }
}