*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background: #000;
}
.nav-top-border{
    position: relative;
    width: 100%;
    background: #3c39c6;
    z-index: 9999;

}
.nav-top-border-close{
    display: none;
    position: absolute;
    top: 13px;
    right: 20px;
    cursor: pointer;
}


.duyuru-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #ffffff;
    font-size: 15px;
    max-width: 100%;
    margin: auto;
    border-radius: 0px;
    padding: 6px;
    text-decoration: none;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 999;
    transition: .3s ease all;
   
}

.nav-ghost {
    position: sticky;
    top: 0;
    width: 100%;
    background: #121212;
    height: 89px;
    z-index: 98;
}


.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
    padding: 5px 20px;
    
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}
.nav-logo-text{
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
}
.nav-logo-text span{
    font-weight: 300;
    color: #ffffff;
}
.nav-logo-container,.nav-cta-btn-container{
    
    width: 300px;
}
.nav-cta-btn-container{
    display: flex;
    align-items: center;
    justify-content: end;
   
}
.nav-links-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    

}
.nav-links{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #727272;
    background: #ffffff08;
    border-radius: 0px;
    padding: 3px;
    border: 3px solid #ffffff05;
}
.nav-links a{
    color: #ffffff;
    opacity: .9;
    padding: 12px 20px;
    border-radius: 0px;
    text-decoration: none;
    transition: .3s ease all;
}
.nav-links a.active{
    background: #ffffff11;
    opacity: 1;
}
.nav-links a:hover{
    color: #ffffff;
    text-shadow: 0 0 50px #121212;
    opacity: 1;
}
.nav-cta-btn{
    position: relative;
    padding: 3px;
    overflow: hidden;
    z-index: 1;
    background: #ffffff20;
    
    color: #3C3D3E;
    text-decoration: none;
    border-radius: 0px;
    font-weight: 500;
    transition: .3s ease all;
    font-size: 15px;
}
.nav-cta-btn:active{
    transform: scale(0.9);
 
}
.nav-cta-btn-container{
    display: flex;
}
.nav-cta-btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(to right, #ffffff00,#ffffff00, #3c39c6);
    z-index: -1;
    transition: .4s ease all;
}
.nav-cta-btn.anim-cta::before{
    animation: cta 1.3s ease infinite;
    width: 100%;
    background: linear-gradient(to right, #3c39c6, #3c39c6, #3c39c6);
}
@keyframes cta {
    0%{
        left: 0;
    }
    33%{
        left: 100%;
    }
    66%{
        left: -100%;
        opacity: 0;
    }
    100%{
        left: 0%;
    }
}
.alt-border{
    height: 5px;
    max-width: 900px;
    border-radius: 0px;
    margin: auto;
    background: linear-gradient(to right, #f75c5c00, #ffffff00, #3c39c6);
}
.nav-cta-btn-sec img{
    transition: .2s ease all;
}
.nav-cta-btn:hover .nav-cta-btn-sec img{
    transform: translate(3px, -3px);
}
.nav-cta-btn:hover::before{
    height: 100%;
    width: 100%;
    border-radius: 0;
}

.nav-cta-btn-sec{
    padding: 12px 20px;
    background: linear-gradient(to right,#2d2ba7, #2d2ba7, #2d2ba7);
    border-radius: 0px;
}

.nav-cta-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-cta-btn-sec{
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-cta-btn-lang{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    transition: .3s ease all;
}

.annoucment{
    display: flex;
}

.nav-cta-btn-lang:hover{
    color: #ffffff;
    text-shadow: 0 0 50px #ffffff;
}

.container-fluid-hero{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    background: url(https://images.unsplash.com/photo-1517144447511-aebb25bbc5fa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: auto;
    padding: 0 20px;
    height: calc(100vh); 
    padding-top: 80px;
   z-index: 0;
}
.hero-info{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}
.hero-info h2{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 15px;
    background: #ffffff10;
    border-radius: 0px;
    color: #f8f8f8;
    border: 1px solid #353535;
    margin-bottom: 15px;
}

.hero-section {
    z-index: 1;
}

.container-fluid-hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #11111199, transparent);
   
    z-index: -1 !important;
}
.hero-section{
    padding: 50px 0;
}
.hero-container{
    
    position: relative;
    text-align: center;
    margin: auto;
}
.hero-title h1{
    font-size: 42px;
    color: #ffffff;
    padding: 15px;
   
    font-weight: 600;
}

.stroke-text-head,.stroke-text-gradient{
    position: relative;
  background: linear-gradient(to right, #fff,#ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.stroke-text-gradient-s{
    
    position: relative;
background: linear-gradient(88deg, #dd8bfd -11.16%, #6f6df8 46.95%, #2b7df7 94.89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  
}
.hero-text-head-big{
   color: #3c39c6;
}

.stroke-text{
    color: #ffffff;
  -webkit-text-fill-color:#ffffff; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
    
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.hero-alt{
    font-size: 18px;
    padding: 10px;
    color: #c4c4c4;
    max-width: 950px;
    margin: auto;
    font-weight: 500;
}
.hero-cta-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0;
    gap: 10px;
    font-weight: 500;
}

.pill-section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}
.con-ser{
    text-align: center;
}
.portfolio-pill{
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #4d4d4d;
    padding: 7px 15px;
    color: #fff;
    font-size: 14px;
    background: #202020;
    margin-top: 20px;
}
.blog-img{
    width: 100% !important;
}
.blog-img img{
    width: 600px !important;
    height: 250px !important;
    object-fit: cover !important;
}
.whatsapp-btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    background: linear-gradient(120deg, #0d7734 60%, #0d7734 60%);
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 0px;
    font-size: 13px;
 
    box-shadow: 0 0 15px #00000050;
    z-index: 158;
    text-decoration: none;
}
.footer-logo{
    display: flex;
   
}
.whatsapp-btn-up{
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50px 50px 0 0 ;
    position: absolute;
    top: -50%;
    width: 30px;
    height: 30px;
    background: #0b6d2f;
    right: 0;
    z-index: 0;
}

.hero-cta-buttons .nav-cta-btn-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #121212;
    color: #ffffff;
    padding: 12px 20px;
    width: 220px;
    text-align: center;
}

.services-line-animation{
    background: #000000;
    width: 100%;
    height: 50px;
}
.hero-cta-buttons .nav-cta-btn-sec.kasend-btn{
    background: #d4d4d4 !important;
    color: #3C3D3E;
}

.container-fluid-hero-default{
    padding-top: 70px;
    
    background: linear-gradient(to bottom, #000,#000,#000, #000);
}

.catalog-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 10px;
}
.catalog-filter {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    background: #3D265B10;
    border: 2px solid #35353550;
    box-shadow: 0 0 150px #002fff15;
    max-width: 1450px;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 15px;
    border-radius: 0px;
}
.kasend-btn span{
    display: flex;
    gap: 5px;
    align-items: center;
}
.nav-cta-btn:hover .nav-cta-btn-sec.kasend-btn img {
    transform: translate(0px, 0px);
}
.catalog-filter-title{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
    top: 10px;
    left: 20px;
    padding: 8px 15px;
   
    color: #ffffff;
    border-radius: 0px;
    font-size: 15px;
}

.p20{
    padding: 20px;
}
.con-ser{
    font-size: 24px !important;
}
.catalog-item{
    width: 25%;
    padding: 20px;
}
.w50{
    width: 33%;
}
.col-n{
    display: flex;
    align-items: center;
    flex-direction: row !important;
    width: 100% !important;
    justify-content: space-between !important;
    
    background: linear-gradient(to right, #42223300, #12121200);
    
}
.catalog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #11111199 !important;
    border-radius: 0px;
    box-shadow: 0 0 25px #00000010;
    border: 2px solid ;
    border-color: #353535;
    text-decoration: none;
}


.catalog-number{
    font-weight:500 ;
    font-size: 16px;    
    padding: 20px;
    color: #ffffffc5;
    height: 180px;

}
.catalog-img-container{
    display: flex;
    align-items: center;
    gap: 5px;
    padding:10px 20px;
    justify-content: end;
    
    border-top: 4px solid #00000005;
}
.catalog-img{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
    
    width: 100%;
    
}
.catalog-img img{
    width: 30px;
    height: 30px;
}
.plus-mode{
    color: #b8b8b8;
    font-size: 15px;
    font-weight: 400;
    
    border-radius: 0px;
}
.catalog-title{
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: 18px;
    
    padding:20px;
    color: #ffffff;
    
    border-radius: 5px 5px 0 0;
   
}
.catalog-title-badge{
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    background: #3A255A;
    color: #ffdded; 
    border-radius: 0px;
    padding: 3px 10px;
}
.catalog{
    position: relative;
    transition: 1s ease all;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
}
.catalog::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: -250%;
    width: 250%;
    height: 100%;
    transform: rotate(50deg);
    background: #ffffff50;
    z-index: 1;
    
    transition: .7s ease all;
}
.portfolio-header-container{
    display: flex !important;
    align-items: center !important;
    justify-content: start !important;
    gap: 5px !important;
}
.flex-head-title-arrow{
    display: flex;
    align-items: start;
    justify-content: center;
}
.hero-text-sub{
    font-weight: 500;
    
}

.gradi{
    border: 2px solid #353535 !important;
}
.promo-con{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0px;
}
.services-help{
    position: relative;
}
.shadow-text{
    text-shadow: 0 0 150px #ffffff50;
}
.numsmash{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0%;
    top: 20px;
    background: #000;
    color: #fff;
    width: 45px ;
    height: 45px    ;
    border-radius: 50px;
    font-weight: 600;
    border: 2px solid #474747;
    font-size: 18px;
}
.services-help-column img {
    max-width: 300px;
    height: 200px;
    object-fit: contain;
    border-radius: 0px;
}
.title-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.catalog:hover::before{
    left: 250%;
}
.catalog:hover{
    transform: translateY(-8px);
    box-shadow: 0px 0px 25px #00000049;
    background: #252525;
}
.catalog:active   {
    transform: scale(.99);
}
.services-help-col{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-direction: row;
    width: 100%;
}
.portfolio .services-help-col{
    background: linear-gradient(to top, #191919, #121212);
    border-radius: 0px;
    margin-top: 25px;
    margin-bottom: 50px;
    padding-left:20px;
    border: 1px solid #ffffff30;
}
.col-n{
    margin-top: 40px;
}

.portfolio-header-container{
    background: transparent !important;
    padding: 0 !important;
}
.portfolio .services-help-header{
    margin-bottom: 50px;
    padding: 30px;
   
}

.services-help{
    display: flex;
    align-items: start;
    justify-content: space-between;
    
    flex-direction: column;
    max-width: 1450px;
    margin: auto;

   
    
    border-radius: 0px;
    
}
.services-help-title{
    font-weight: 600;
    text-align: left;
    font-size: 42px;
    color: #fff;
    
}
.services-help-title-alt{
    font-weight: 400;
    font-size: 16px;
    max-width: 650px;
    padding-top: 10px;
    text-align: center;
    color: #ececee99;

}
.cta-alt{
    text-align: left;
}
.services-crew-img{
    padding: 50px 15px;
    padding-bottom: 0;
}
.services-crew-img img{
    max-width: 100%;
}
.services-help-title{
    position: relative;
    z-index: 100;
}
.services-help-img{
    display: flex;
}
.popular:hover{
    box-shadow: 0 0 250px #3c39c630;
}
.services-help-img img{
    width: 100%;
    object-fit: cover;
   
}
.services-help-img-big{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-right: 20px;
}
.services-help-img-big img{
    max-width: 100%;
    border-radius: 0px;
    box-shadow: 0 0 150px #00000015;
    object-fit: cover;
   
}
.hero-info img{
    width: 250px;
    
}

.footer-pill{
    display: flex;align-items: center; justify-content: space-between; width: 100%;  
}
.footer-pill-container{
    margin-top: 50px;
}
footer{
    position: relative;
    padding-top: 50px;
    background: linear-gradient(to top, #000000, #000000);
    z-index: 2;
}
.faq-container{
    background: linear-gradient(to top, #191919, #12121250);
    border: 2px solid #353535;
    max-width: 1450px;
    border-radius: 0px;
   
}
.faq-container .catalog-container{
    max-width: 1250px;
    margin: auto;
}
.head-box-title{
    height: 100px;
}
.faq-container .catalog-item{
    width: 50%;
}
.footer-container{
    background: linear-gradient(to bottom, #111111, #111111);
    border-top: 4px solid #27272740;
    margin-top: 100px;
}
.footer-col-container{
    display: flex;
    justify-content: space-between;
    max-width: 1450px;
    margin: auto;
    gap: 25px;
    padding: 50px 0;
    color: #E4E5E9;
   
}
.faq-container .catalog{
    border: 2px solid #353535;
}
.footer-col{
    width: 25%;
}
.sec-col{
    width: calc(25% + 200px);
}
.footer-col-title{
    font-size: 22px;
    font-weight: 500;

}
.footer-col-pro-links{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.footer-col-pro-links .nav-cta-btn-sec{
    display: flex;

    font-style: normal;
    justify-content: space-between;
    background: #d8d8d8;
   
}
.footer-col-pro-links .nav-cta-btn-sec span{
    display: flex;
    gap: 3px;
    align-items: center;
}

.footer-company-alt{
    color: #c2c2c2;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 0;
    margin: 20px 0;
    border-radius: 0px;
}
.footer-col-links{
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding-top: 5px;
}
.footer-credit-container{
    background: #0F0F0F;
 
    border-top: 2px dotted #3C3D3E50;
}
.footer-credit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1450px;
    margin: auto;
    padding: 20px 0;
    padding-bottom: 70px;
    color: #a1a1a1;
    font-size: 14px;
}
.footer-credit-links a{
    color: #a1a1a1;
    padding: 5px;
    text-decoration: none;
}
.footer-credit-links a:hover{
    text-decoration: underline;
}
.footer-col-links a{
    text-decoration: none;
    color: #c2c2c2;
    padding: 5px 0;
    font-weight: 400;
    font-size: 15px;
}
.footer-col-links a:hover{
    text-decoration: underline;
}
.faq-container .catalog-item .catalog-number{
    align-items: start;
    gap: 5px;
    text-align: left;
    height: auto;   
    font-size: 15px;
}
.faq-container .catalog-item .catalog-number img{
    position: relative;
    top: 3px;
}
.faq-container .catalog {
    height: 280px;
    justify-content: start;
}
.faq-container .catalog-item .catalog-title{
    text-align: left;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.faq-date{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    font-size: 14px;
   
    color: #a0a0a0;
    font-style: normal;
}
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.reveal {
    position: relative;
    transform: translateY(80px);
    opacity: .5;
    transition: 1s all ease;
}
.instagram {
    background: #833ab4;
    background: linear-gradient(to right,
            #833ab4, #fd1d1d, #fcb045) !important;
            color: #ffffff;
}
.facebook{
    background: #4B6CE9 !important;
    color: #ffffff;
}
.linkedin{
    background: #4571D2 !important;
    color: #ffffff;
}


.overlay-loading{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #0a0a0a;
    z-index: 10000;
    transition: 1.3s ease all
}
.typing-text::after {
    content: "|";
    animation: blink ease 1s infinite;
}
h1.typing-text{
    color: #ffffff;
    
    font-weight: 500;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}












.slider-section{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
}
.first-container{
    overflow: hidden;
}
.first-container .hero-title h1{
    font-size: 89px !important;
    line-height: 100px;
}
.hero-title-alt{
    
    max-width: 755px;
    font-size: 18px;
    color: #d8d8d8;
    margin: auto;
}
.first-container .slider {
    background: transparent;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #121212;
}

.first-container .slider::before,
.first-container .slider::after {
   
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.first-container .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.first-container .slider::before {
    left: 0;
    top: 0;
}

.first-container .slider .slide-track {
    animation: scroll 80s linear infinite;
    display: flex; 
    width: calc(250px * 48);
}


.first-container .slider .slide {
    height: 100px;
    width: 250px;
}
.first-container .slider .slide img {
    opacity: 1;
    filter: grayscale(1);

    transition: .3s ease all;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 24));
    }
}


.portfolio-sec{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0;
    justify-content: start;
    max-width: 100%;
    transition: .3s ease all;
}
.portfolio-sec .services-help-header{
    text-align: center;
    margin: 0;
    padding: 5px 0;
}
.services-help-title-alt{
    padding-bottom: 20px;
}
.portfolio-sec{
    text-decoration: none;
    
}

.brand-case{
    display: flex;
    align-items: center;
    height: 50px;
    padding-top: 20px;
}


.portfolio-flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    max-width: 1450px;
    margin: auto;
   
    
}
.nth-last .services-help-img-big img{
    width: 500px;
    height: 250px;
    object-fit: cover;
    object-position: top;
}
.services-help.nth1{
 width: 58%;
}
.services-help.nth2{
 width: 42%;
}
.services-help.nth-f{
 width: 100%;
 height: auto;
 padding: 0;
}

.nth1 .services-help-col{
    height: 400px;
    overflow: hidden;
}
.nth2 .services-help-col{
    height: 400px;
    overflow: hidden;
}
.nth-f .services-help-col{
    
    overflow: hidden;
}

.services-help-img-big img{
    width: 100%;
    height: 600px;
    object-fit: contain;
    object-position: top;
    box-shadow: 0 0 150px #2d2ba725;
}

.reverse-port .services-help-col{
    
    overflow: hidden;
}

.swiper-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
    margin-top: 50px;
    color: #fff;
}
.swiper-button-prev-c,.swiper-button-next-c{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .6;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s ease all;
}
.swiper-button-prev-c:hover,.swiper-button-next-c:hover{
   opacity: 1;
}


 .swiper {
     width: 100%;
     height: 100%;
     
     
 }

 

 .swiper-slide img {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 .profil-card{
    
    background: linear-gradient(to top,#191919, #1d1c38);
    
    border: 2px solid #353535;
    padding: 20px;
 }
 .portfolio-flex-container .setting-services-hero{
    width: 33.3%;
   
 }
 .profil-card .services-help{
    text-align: center;
 }
 .profileSwiper{
    margin-top: 100px;
 }
 .profil-card .flex-head-title-arrow{
    text-align: center;
    justify-content: center;
 }
 .container-portfolio-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
 }
 .profil-card img{
    width: 300px;
    height: 200px;
    object-fit: contain;
    box-shadow: 0 0 0 transparent !important;
 }
 .profil-card .services-help-col:hover{
    background: transparent !important;
 }
.case-section{
    position: relative;
    padding-top: 80px;
    background: #000;
}
.case-section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, #000000a9, transparent);
    z-index: 99;
}
.profil-card .services-help-title-alt{
    font-size: 16px;
    padding-top: 15px;
}
.profil-card .hero-info{
    font-size: 20px;
    margin: 0 !important;
}
.case-section::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to left, #000000a9, transparent);
    z-index: 99;
}

.paral-ef {
    position: relative;
    background: url(https://images.unsplash.com/photo-1659469377768-4f42f2f091c5?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 150px;
    padding-top: 170px;
}
.paral-ef-item{
    position: relative;
    top: -170px;
}
.paral-ef-item .catalog-filter{
    background: #0f0f0f;
}
.badge-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    
    opacity: .8;
    border-radius: 50px;
}

.cta-container-s {
    position: relative;
    padding: 20px 0;
    background: linear-gradient(to right, #4B6CE930, #4B6CE950, #4B6CE985) !important;
    z-index: 1;
    border: 2px solid #353535 !important;
}
.cta-container-s2{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    position: relative;
    padding: 20px 0;
    background-image: url(https://ninjapromo.io/wp-content/themes/ninjapromo/assets/newdesign/b2b_case_bg.png) !important;
    background-position: left !important;
    background-size: 50% !important;
    background-repeat: no-repeat !important;
    background-color: #111111 !important;
    z-index: 1;
    border: 2px solid #191919 !important;
}

.endura-pro {
    position: relative;
    background: url(https://ninjapromo.io/wp-content/themes/ninjapromo/assets/pricing/price_bghero.jpg);
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.endura-pro::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 50%;
    background: linear-gradient(to bottom, #000, transparent);
    z-index: -1;
}
.endura-pro::after{
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100% !important;
    height: 100%;
    background: linear-gradient(to top, #000, transparent);
    z-index: -2;
}
